@font-face { font-family: TravelingTypewriter; src: url('assets/TravelingTypewriter.ttf'); }
html {
    scroll-behavior: smooth;
}
body{
    font-family: TravelingTypewriter;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
    animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1};
}
.slick-slide {
    outline: none;
}

.content{
    padding:16px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.title{
    font-size: 32px;
    padding-bottom: 10px;
    font-weight:bold;
}

.header{
    background-color: white;
    padding: 10px 16px;
    color: #f1f1f1;
    font-size:20px;
}
.sections a {
    display: inline-block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    cursor: pointer;
}
.icons{
    position:absolute;
    top: 0px;
    right: 25px;
}
.icons img{
    height:40px;
    padding: 14px 5px;
}
.icons img:hover{
    opacity:0.8;
}

.header a:hover{
    opacity:0.8;
}
.frontpage{
    width:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('assets/artistreeblur.jpg');
    height:500px;
}
.videos{
    background-image: url('assets/musicblur.jpg');
    color:white;
}
.videoreleases{
    margin: 0 auto;
    max-width:1200px;
    width:92%;
}

.music{
    background-image: url('assets/musicblur.jpg');
    color:white;
}
.musicreleases{
    margin: 0 auto;
    max-width:1200px;
    width:92%;
}
.musicreleases a{
    text-decoration: none;
    color: white;
}
.musicreleases h1{
    margin-top:2px;
    font-size:26px;
    font-weight: normal;
}
.rcrd img{
    margin: 0 auto;
    max-width:600px;
    width:95%;
    display:block;
}
.rcrd:hover{
    opacity:0.8;
}

.collaborators{
    background-image: url('assets/collabblur.jpg');
    color:white;
}
.text{
    margin:0 auto;
    max-width:1000px;
    width:90%;
}
.names{
    -webkit-columns: 2 200px;
    -moz-columns: 2 200px;
    columns: 2 200px;
}

.bio{
    background-image: url('assets/collabblur.jpg');
    
    color:white;
}
.footer{
    width:100%;
    padding-top: 10px;
    padding-bottom:5px;
}
.footer img{
    height:40px;
    padding: 0 10px;
}


.container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    display:none;
}
/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}
/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    cursor:pointer;
}
/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
/* Style the active link (or home/logo) */
.active {
    background-color: #ffffff;
}
.iconz{
    position:absolute !important;
    top: 0px;
    right: 15px;
}
.iconz a{
    display:inline !important;
    padding: 14px 5px !important;
}
.iconz img{
    height:30px;
    padding: 10px 1px;
}
.iconz img:hover{
    opacity:0.8;
}

@media screen and (max-width: 700px) {
    .header{
        display:none;
    }
    .topnav{
        display: block;
    }
    .musicreleases h1{
        font-size:16px;
    }
    .footer{
        display:none;
    }
}